.south-wind-cards-row.step2,
.south-wind-cards-row.step3 {
    display: none;
}
.south-wind-rating{
	display: none;
	position: absolute;
    z-index: 3;
    background: #ccc3b6;
    padding: 30px 20px;
    border-radius: 5px;
    border: 1px solid #000;
	top: 50%;
	left: 50%;
	width: 165px;
	box-shadow: 10px 15px 20px #2b2b2b44;
	.rating-row{
		display: none;
		&.active{
			display: block;
		}
	}
	// transform: translate(-50%, -50%);
	.south-wind-rating-wrap{
		position: relative;
		p{
			padding-bottom: 10px !important;
			color: #000;
		}
	}
	.rate-num{
		background: #f1edf3;
		padding: 10px 15px;
		cursor: pointer;
	}
	.close{
		position: absolute;
		right: -15px;
		top: -30px;
		font-size: 20px;
		cursor: pointer;
	}
}
.south-wind-tabs{
	max-width: 100%;
    overflow: auto;
    width: 100%;
    display: inline-flex;
	.south-wind-tab{
		background: #ccc3b6;
		display: inline-block;
		margin: 0;
		padding: 10px;
		color: #000;
		border-radius: 5px 5px 0 0;
		cursor: pointer;
		flex-shrink: 0;
		margin-right: 5px;
		&.active{
			font-weight: bold;
		}
	}
}
.south-wind-cards-wrapper{
	position: relative;
}
.south-wind-continue {
    color: #000;
    background: #fff;
    border: 2px solid #000;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
	display: inline-block;
	margin-top: 20px;
}

.south-wind-cards-col {
    background-color: #ccc3b6;
    padding: 20px;
    border-radius: 0 5px 5px 5px;
    box-shadow: 10px 15px 20px #ccc3b644;
    width: 100%;
	display: none;
	min-height: 200px;
	&.active{
		display: block;
	}

    ul {
        padding: 0 !important;
    }

    ul li {
        list-style: none;
    }

	.south-wind-card {
		background-color: #f1edf3;
		color: #000;
		padding: 10px !important;
		margin-top: 10px;
		border-radius: 5px;
		transition: opacity 200ms ease;
		cursor: pointer;
		margin-right: 10px;
		margin-bottom: 10px;
		display: inline-block;
	  }

}